
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f172a;
color:white;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}

.btn{
display:inline-block;
padding:12px 22px;
margin:10px 8px;
border-radius:30px;
background:white;
color:#0f172a;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.btn:hover{
transform:translateY(-3px);
}

/* INTRO SECTION */

.intro{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
background:linear-gradient(135deg,#0f172a,#1e293b);
}

.intro h1{
font-size:52px;
margin-bottom:20px;
}

.intro p{
opacity:0.8;
font-size:18px;
}

.data-icons{
margin-top:40px;
font-size:40px;
animation:float 4s ease-in-out infinite;
}

@keyframes float{
0%{transform:translateY(0px);}
50%{transform:translateY(-15px);}
100%{transform:translateY(0px);}
}

/* PROFILE */

.profile-banner{
height:220px;
background:linear-gradient(135deg,#1e293b,#334155);
}

.profile-container{
text-align:center;
margin-top:-70px;
padding-bottom:40px;
}

.profile-img{
width:150px;
height:150px;
border-radius:50%;
border:6px solid white;
background:white;
object-fit:cover;
}

.subtitle{
margin-top:10px;
opacity:0.8;
}

/* GRID CARDS */

.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:40px;
}

.card{
background:white;
color:black;
padding:20px;
border-radius:14px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.card h3{
margin-bottom:10px;
}

pre{
background:#0f172a;
color:#e2e8f0;
padding:10px;
border-radius:8px;
overflow-x:auto;
}

@media(max-width:1000px){
.grid{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:600px){
.grid{
grid-template-columns:1fr;
}
}

.social-links{
margin-top:12px;
}

.social-links a{
margin:0 10px;
text-decoration:none;
color:#38bdf8;
font-weight:bold;
transition:0.2s;
}

.social-links a:hover{
color:#7dd3fc;
}

.social-links span{
opacity:.5;
margin:0 6px;
}

.social-links i{
margin-right:6px;
font-size:16px;
}

.social-links a .fa-instagram{
color:#e1306c;
}